<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  
    <div class="container-fluid moth">
        <div class="container-fluid home" id="home">
            <div class="container-fluid homeWithB">
                <div class="container containNavi">
                    <!--__________________NAVIGATION______________________-->
                    <div class="navigation">
                        <div class="navigation-F">
                            <div class="titleHeader">
                                <div>
                                    <div class="firstTitle">
                                        Miss Kobayashi's Dragon Maid
                                    </div>
                                </div>
                            </div>
                            
                            <div class="navigationSelect">
                                    <div class="navigationL" (click)="naviClicked('home')">
                                        Home
                                    </div>
                                    <div class="navigationL" (click)="naviClicked('about')">
                                        About
                                    </div>
                                    <div class="navigationL" (click)="naviClicked('charact')">
                                        Characters
                                    </div>
                                    <div class="navigationL" (click)="naviClicked('seasons')">
                                        Seasons
                                    </div>
                            </div>
                        </div>
                    </div>

                    <!--__________________Home landing page_______________________-->
                    <div class="container containSelection">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                                <div class="textHomeD">
                                    <div>
                                        <p class="textH">Kobayashi-san Chi no Meidoragon Japanese Manga Series By Kyoto Animation</p>
                                        <p class="textHs">Kobayashi-san Chi no Meidoragon Japanese Manga Series By Kyoto Animation</p>
                                        <div class="divBtnVisit">
                                            <button class="btn btn-primary btnPageVisit" (click)="linkedPage()">Visit Page</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12 col-12 colImgDH">
                                <div class="imgForVidD">
                                    <div class="FimgForVId">
                                        <div class="row rowForSelectedHI">

                                            <div class="col-lg-3 col-md-3 col-sm-4 col-4 p-0 radiColumn mx-auto " 
                                            *ngFor="let arrH of arrayH; index as numH">
                                                <div [ngClass]="['VidImageIconH', 'ImgIH'+numH]" 
                                                [ngStyle]="{'width': (numH > 0 ? '97px':'110px'),
                                                    'height':(numH > 0 ? '97px':'110px') }"
                                                (click)="clickHIcon(numH)" >
                                                    <img [src]="arrH[0]" class="img-fluid imgIconH" />
                                                </div>
                                            </div>


                                            <div class="col-12">
                                                <div class="dFHV"> 
                                                     <iframe class="sss" width="100%" height="100%"
                                                    [src]="stLink" frameborder="0"
                                                    ></iframe>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


        <!--__________________About landing page_______________________-->
        <div class="container-fluid landingAbout" id="about">
            <div class="container-fluid landing2About">
                <div class="container containAbout">
                    <!--PICTURE ONE-->
                    <div class="bbb">
                        <div class="img1">
                            <img src="/assets/characters/Kanna_Kamui.png" class="img-fluid" />
                        </div>
                    </div>
    
                    <div class="aboutF">
                        <div class="aboutDM">
                            <div class="introA">
                                <img src="/assets/characters/intro.png" class="img-fluid imageIntroA" />
                            </div>
                        </div>
    
                        <div class="AboutINFO">
                            <div class="infoAboutImD">
                                <div class="aboutInfos2">
                                    <p class="infoA">
                                        <br /><br />Miss Kobayashi's Dragon Maid (Japanese: 小林さんちのメイドラゴン, Hepburn: Kobayashi-san Chi no Meidoragon) is a Japanese manga series written and illustrated by Coolkyousinnjya. The series began serialization in
                                        Futabasha's Monthly Action magazine since May 2013 
                                        and is licensed in North America by Seven Seas Entertainment. Four spin-off manga have also been serialized in Monthly Action. 
                                        <br /><br />An anime television series adaptation by Kyoto Animation aired in Japan between January and April 2017. A second season titled Miss Kobayashi's Dragon Maid S aired between July and September 2021. A video game titled Miss Kobayashi's Dragon Maid: Sakuretsu!! 
                                        Chorogon Breath will be released in Q2 2022.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
    
                     <!--PICTURE TWO-->
                     <div class="asd">
                         <div class="row">
                             <div class="col-6"></div>
                             <div class="col-6">
                                <div class="img2">
                                    <img src="/assets/characters/Tohru_(Dragon_Maid).png" class="img-fluid" />
                                </div>
                             </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>

        <!--__________________CHARACTER page_______________________-->
        <div class="container characDiv" id="charact">
            <div class="characters">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 dsd">
                        <div class="divLoad">
                            <img src="/assets/loading/loading.svg" class="img-fluid loading" />
                        </div>
                        <div class="adjust"></div>
                        <div class="charactersDisplay" *ngIf="conditionShowCharact">
                            <img [src]="srcImage" class="img-fluid imgCharacter" />
                        </div>
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12"> 
                        <div class="chrackInfo">
                            <div class="row">
                                <div class="col-12">
                                    <div class="infoCharac">
                                        <p class="nameCharac">{{nameCharacter}}</p>
                                        <p class="informationCharac">{{characterInfo}}</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div></div>
                                    <div class="row"> 
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                            <p class="Characteristics">Characteristics</p>
                                            <div>
                                                <p class="cA" *ngFor="let charac of arrayCharacteristics
                                                ; index as numC"><span class="cT">{{charac[0]}}</span>{{charac[1]}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 p-0 mx-auto">
                            <div class="row mx-auto rowNaviCharact">
                                <div class="col-lg-1 col-md-2 col-sm-3 col-4 mx-auto p-0  colCharact" *ngFor="let picture of array; index as num">
                                    <div class="charactersDiv" (mouseover)="MouseOverOutCharact(num, true)"
                                    (mouseout)="MouseOverOutCharact(num, false)" (click)="clickedCharact(num, 'charact')">

                                        <div [ngClass]="['nameCharactSelect', 'numCon'+num]" 
                                        [ngStyle]="{'display':numStayCharact == num ? 'flex':'none'}"
                                         >
                                            <span class="spanNameC">{{picture[1]}}</span>
                                        </div>
                                        
                                        <img [src]="picture[0]" class="img-fluid imgCharacSelect" />
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>


        <!--___________________Sessions_________________________-->
        <div class="container-fluid fluidSeasons" id="seasons">
            <div class="container seasonContainer">
                <div>
                    <div class="row rowSeson">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-12 p-0">
                            <div class="divSeasonPic">
                                <img [src]="arrayTempoS[0]" class="img-fluid imgseason" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                            <div class="titleDiv">
                                <span class="titleText">{{arrayTempoS[1]}}</span>
                                <p class="titleTextjapanese">{{arrayTempoS[2]}}</p>
                            </div>
                            <div>
                                <p class="infoTitle">
                                    {{arrayTempoS[3]}}
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                            <div>
                                <p class="typeOfTitle" *ngFor="let arrType of arrayTempoS[4]; index as typeNum">
                                    <span class="first">{{arrType[0]}}</span>
                                    <span class="second">{{arrType[1]}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="relationDivT">
                        <div class="relationBorder">Relations (6)</div>
                        <div>
                            <div class="row">
                                <div class="col-lg-2 col-md-3 col-sm-4 col-6" *ngFor="let arrRS of arrayFinalS; index as numRS">
                                    <div class="selectionD">
                                        <div class="selectionDF" (click)="RSbttn(numRS, 'seasons')"
                                         (mouseover)="RSoverOut(numRS, true)" (mouseout)="RSoverOut(numRS, false)">
                                            <div [ngClass]="['hoverRS', 'divEp'+numRS]">{{arrRS[4][3][1]}} EP</div>
                                            <img [src]="arrRS[0]" class="img-fluid rsImage" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--___________________Hokaio__________________________-->
        <div class="container-fluid containHonkaio ">
            <div> 
                <div class="divHonkai">
                    <div class="honkaiDiv">
                        <img src="/assets/honkaio/1.png" class="img-fluid" />
                    </div>
                </div>
                <div>
                    <p class="pHonkaio">Hokaio Station - UI Web Design</p>
                </div>
            </div>
        </div>
    </div>



</body>
</html>